.sugesstion{
  margin-top: 25px;
  margin-right: 15px;
}

.sugesstion__title{
  color: white;
  font-weight: bold;
}

.username_left{
  display: flex;
  align-items: center;
}

.username__info{
  display: flex;
  flex-direction: column;
}

.sugesstion__username{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.follow_button{
  color: #0095f6;
  font-weight: bold;
  background: 0;
  border: 0;
}

.follow_button:hover{
  color: white;
  cursor: pointer;
  background: #0095f6;
  border-radius: 35%;
}