

.sidenav{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.sidenav__logo{
  width: 120px;
  margin: auto;
}

.sidenav__buttons{
  display: flex;
  flex-direction: column;
}

.sidenav__button{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background: 0;
  border: 0;
  margin: 5px 15px 10px 15px;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  width: 100%;
}

.sidenav__button:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.112);
}

.sidenav__button > span {
  font-size: 18px;
  font-weight: bolder;
  margin-left: 10px;
}

.sidenav__more{
  position: fixed;
  bottom: 3px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .sidenav {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }

  .sidenav__buttons {
    flex-direction: column;
  }

  .sidenav__button {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .sidenav__logo {
    max-width: 80%;
    margin: 0 auto;
  }
}