.homepage{
  display: flex;
  flex-direction: row;
}

.homepage__nav{
  flex: 0.2;
  border: solid darkgrey;
}

.burgerMenu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width: 768px) {
  .homepage__nav {
    flex: none;
    width: 60px;
  }

  .burgerMenu {
    display: block;
  }

  .homepage__timeline {
    flex: 0.8;
    transition: margin-left 0.3s;
  }

  .showSidebar .homepage__timeline {
    margin-left: 200px;
  }
}


.homepage__timeline{
  flex: 0.8;
}